<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Khách hàng</title>
</head>
<body>
<h1 style="color: mediumblue">Danh sách khách hàng</h1>
<table border="1 solid">
    <tr>
        <th>Name</th>
        <th>Province</th>
        <th>Img</th>
        <th colspan="2">Action</th>
    </tr>
    <th:block th:each="C:${customer}">
        <tr>
            <td th:text="${C.name}"></td>
            <td th:text="${C.province.name}"></td>
<!--            <td th:text="${C.img}"></td>-->
            <td>
                <img th:src="@{'/i/'+${C.img}}" th:alt="${C.img}" width="200px">
            </td>
            <td><a th:href="@{Remove(id = ${C.id})}">Remove</a></td>
            <td><a th:href="@{Update(id = ${C.id})}">Update</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>